<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style/style.css" />
  <link rel="stylesheet" href="./nav/nav.css" />
  <link rel="stylesheet" href="/style/yen/yen1.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>獎盃列表</title>
</head>

<body>
  <!-- NAV BAR -->
  <div w3-include-HTML="./nav/nav.html"></div>
  <!-- NAV BAR -->
  <div style="height: 40vh;" class="ttop">
    <h1 id="pagename">
      正所謂各有千秋
    </h1>
  </div>
  <div class="navDistance container col-12">
    <div class="maincard">
      <div class="maincard1 col-3">
        <img src="/img/yen/trophy.png">
        <h2>人氣王</h2>
        <p>(評價次數最多)</p>
      </div>
      <div class="maincard2 col-9">
        <div class="maincard20">
          <table>
            <% json7.forEach((data,index)=>{%>
              <%if(index<=4){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.commentCount%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <table class="table2">
            <% json7.forEach((data,index)=>{%>
              <%if(index>=5&&index<10){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.commentCount%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <div class="maincarda">
          <p id="opener" style="display: inline;"><u>《查看更多...》</u></p>
        </div>


        <!-- 彈跳視窗 -->
        <!-- 冒險王 -->
        <div id="light" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>冒險王</h1>
          <hr>
          <table>
            <% json7.forEach((data,index)=>{%>
              <%if(index>=10&&index<=19){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.commentCount%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <!-- 野猴子 -->
        <div id="monkey" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>野猴子</h1>
          <hr>
          <table>
            <% json1.forEach((data,index)=>{%>
              <%if(index<=9){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.strength%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <!-- 醫生 -->
        <div id="doctor" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>怪醫黑傑克</h1>
          <hr>
          <table>
            <% json2.forEach((data,index)=>{%>
              <%if(index<=9){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.heal%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <!-- 求生 -->
        <div id="survival" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>東方貝爺</h1>
          <hr>
          <table>
            <% json3.forEach((data,index)=>{%>
              <%if(index<=9){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.survival%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <!-- 方向感 -->
        <div id="direct" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>公車不搭反方向</h1>
          <hr>
          <table>
            <% json4.forEach((data,index)=>{%>
              <%if(index<=9){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.direction%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <!-- CEO -->
        <div id="ceo" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>CEO</h1>
          <hr>
          <table>
            <% json5.forEach((data,index)=>{%>
              <%if(index<=9){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.leadership%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
        <!-- 臭皮匠 -->
        <div id="threeman" class="light">
          <p class="closebt"><img src="/img/yen/close.png"></p>
          <h1>三個臭皮匠</h1>
          <hr>
          <table>
            <% json6.forEach((data,index)=>{%>
              <%if(index<=9){%>
                  <tr>
                    <td class="frt">
                      <%= index+1 +'.'%>
                    </td>
                    <td class="sec">
                      <%= data.userName%>
                    </td>
                    <td class="thr">
                      <%= data.teamwork%>
                    </td>
                  </tr>
                  <%}%>
                    <% }) %>
          </table>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- 分界線 -->
  <hr class="container">
  <!-- 卡片 -->
  <div class="container">
    <div class="col-12 mid">
      <!-- 猴子 -->
      <div class="card1">
        <div class="card11">
          <img src="img/yen/moncky.png">
          <h4>野猴子</h4>
          <p>(體能最高分)</p>
        </div>
        <div class="card12">
          <table>
            <% json1.forEach((data,index)=>{%>
              <%if(index<5){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.strength%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <div class="maincarda">
            <p id="monkeybtn" style="display: inline;"><u>《查看更多...》</u></p>
          </div>
        </div>
      </div>
      <!-- 醫生 -->
      <div class="card1">
        <div class="card11">
          <img src="img/yen/doctorr.png">
          <h4>怪醫黑傑克</h4>
          <p>(醫術最高分)</p>
        </div>
        <div class="card12">
          <table>
            <% json2.forEach((data,index)=>{%>
              <%if(index<5){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.heal%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <div class="maincarda">
            <p id="doctorbtn" style="display: inline;"><u>《查看更多...》</u></p>
          </div>
        </div>
      </div>
      <!-- 求生 -->
      <div class="card1">
        <div class="card11">
          <img src="img/yen/fire.png">
          <h4>東方貝爺</h4>
          <p>(求生技術最高分)</p>
        </div>
        <div class="card12">
          <table>
            <% json3.forEach((data,index)=>{%>
              <%if(index<5){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.survival%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <div class="maincarda">
            <p id="survivalbtn" style="display: inline;"><u>《查看更多...》</u></p>
          </div>
        </div>
      </div>
      <!-- 方向感 -->
      <div class="card1">
        <div class="card11">
          <img src="img/yen/direct.jpg">
          <h4>公車不搭反方向</h4>
          <p>(方向感最高分)</p>
        </div>
        <div class="card12">
          <table>
            <% json4.forEach((data,index)=>{%>
              <%if(index<5){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.direction%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <div class="maincarda">
            <p id="directbtn" style="display: inline;"><u>《查看更多...》</u></p>
          </div>
        </div>
      </div>
      <!-- 領導 -->
      <div class="card1">
        <div class="card11">
          <img src="img/yen/leader.jpg">
          <h4>CEO</h4>
          <p>(領導力最高分)</p>
        </div>
        <div class="card12">
          <table>
            <% json5.forEach((data,index)=>{%>
              <%if(index<5){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.leadership%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <div class="maincarda">
            <p id="ceobtn" style="display: inline;"><u>《查看更多...》</u></p>
          </div>
        </div>
      </div>
      <!-- 臭皮匠 -->
      <div class="card1">
        <div class="card11">
          <img src="img/yen/team.jpg">
          <h4>三個臭皮匠</h4>
          <p>(團隊意識最高分)</p>
        </div>
        <div class="card12">
          <table>
            <% json6.forEach((data,index)=>{%>
              <%if(index<5){%>
                <tr>
                  <td class="frt">
                    <%= index+1 +'.'%>
                  </td>
                  <td class="sec">
                    <%= data.userName%>
                  </td>
                  <td class="thr">
                    <%= data.teamwork%>
                  </td>
                </tr>
                <%}%>
                  <% }) %>
          </table>
          <div class="maincarda">
            <p id="threemanbtn" style="display: inline;"><u>《查看更多...》</u></p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- FOOTER -->
  <div w3-include-HTML="./footer/footer.html" class=""></div>
  <!-- FOOTER -->
  <script>
    w3.includeHTML();
  </script>
  <script src="/js/yen1.js"></script>
  <script src="./nav/nav.js"></script>
  <script src="./style/vendors/bootstrap-5.1.1/dist/js/bootstrap.bundle.js"></script>
</body>

</html>